
:root {
    --navhead-font: 'Rock 3D', cursive;
    --secondary: #caceb1da;
    --text-shadow: 0 1.77px 0 #706e6e7e;;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#nav {
    transform: translateY(0%);
    transition: all 0.4s ease-in-out;
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 1;
    z-index: 1040;
    margin-bottom: 20px;

}
    #nav-header {
    font-family: var(--navhead-font);
    font-size: 33px;
}

#contact-div{
    border-left: dotted #0a0a0a56 2px;
}

/* Pseudo Classes for Contact Links */
#contact-link:hover {
    font-weight: bolder;
    text-shadow: var(--text-shadow);
}



#navbarHeader {
    background-color: var(--secondary);
}

/* header {
    margin-bottom: 40px;
} */

#shadow {
    text-shadow: var(--text-shadow);
}

footer {
    background-color: #caccb9d3;
}

.album {
    background-color:rgb(219, 216, 216);
}