
:root {
    --navhead-font: 'Rock 3D', cursive;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#nav {
    transform: translateY(0%);
    transition: all 0.4s ease-in-out;
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 1;
    z-index: 1040;
    margin-bottom: 20px;

}
    #nav-header {
    font-family: var(--navhead-font);
    font-size: 30px;
}

/* Pseudo Classes for Contact Links */
#contact-link:hover {
    font-weight: bolder;
    text-shadow: 0 2px 0 #706e6e7e;
}

/* #jumbotron img {
    border-radius: 45%;
} */

#navbarHeader {
    background-color: #F7F4F2;
}

header {
    margin-bottom: 40px;
}